[Unit]
Description=gunicorn daemon
Requires=gunicorn-run-dir.service
After=gunicorn-run-dir.service network.target

[Service]
Environment="CELERY_BROKER_URL=redis://:{{ redis_password }}@localhost:6379/0"
Environment="PYTHONUNBUFFERED=1"
User=root
Group=root
WorkingDirectory={{ app_path }}
ExecStart={{ venv_path }}/bin/gunicorn --config {{ app_path }}/gunicorn.conf.py

[Install]
WantedBy=multi-user.target
